input[type=submit] {
    background-color: #009999;
    color: #ffffff;
    padding: 7px 15px;
    margin-top: 15px;
    width: auto;
    border-radius: 3px;
}
textarea {
    max-width: 100%;
    font-size: 1em;
    color: #888888;
}

form {
    font-family: sans-serif;
}
input {
    width: 100%;
    font-size: 1em;
    color: #888888;
}
label {
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 1em;
    display: block;
}
