.picture-cont {
    position: relative;
    width: 30%;
    height: auto;
    margin-right: 2.7%;
    margin-top: 2%;
    margin-bottom: 2%px;
    border-radius: 3px;
    padding: 0px;
}

@media only screen and (max-width: 660px) {
    .picture-cont {
        margin: 10px 0px;
        width: 100%;
        float: none;
        height: auto;
    }
    .text-block {
        width:100%!important;
        position: absolute;
        bottom: 10%;
    }
}

.picture-cont:hover {
    opacity: 0.5;
    filter: alpha(opacity=60);
}

.text-block {
    position: absolute;
    bottom: 10%;
    left: 0px;
    font-size: 1.1em;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #009999;
    color: #ffffff;
}
