
#containter {
    position: relative;
    min-height: 100%;
}
#content {
    padding-bottom: 4rem;
}
header {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: 70px;
    border-bottom: solid 2px #e0e0e0;
    position: absolute;
    top: 0;
    left: 0;
}

about-img {
    border-radius: 3px;
}

img {
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
}


.page_head {
    font-size: 1.7em;
    font-weight: 700;
    color: #009999;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 2.5px #e0e0e0;
}


.footer {
    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 20px;
    text-align: center;
    background-color: #009999;
    color: #ffffff;
  }

form {
    font-family: sans-serif;
}
input {
    width: 100%;
    font-size: 1em;
    color: #888888;
}
label {
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 1em;
    display: block;
}

.navbar a {
    font-family: sans-serif;
    font-size: 16px;
    float: right;
    color: #888888;
    background-color: #ffffff;
    text-decoration: none;
    padding: 27px 10px;
}
.navbar a:hover {
    color: #ffffff;
    background-color: #009999;
}

.nav_title {
    position: absolute;
    float: left;
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    background-color: #009999;
    letter-spacing: 1px;
}

body {
        background-image: url("bkd.jpg");
        background-repeat: repeat;
        background-color: #efefef;
        color: #888888;
        font-size: 1em;
}

.center {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.page_info {
    position: relative;
    margin-top: 100px;
    text-align: left;
    padding: 10px 30px;
    background-color: #ffffff;
    border: solid 1px #e0e0e0;
    border-radius: 3px;
}

p {
    font-family: sans-serif;
    padding-top: 15px;
    line-height: 1.8em;
    font-size: 1.1em;
    
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    background-color: #ffffff;
    margin-bottom: 30px;
}